body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #119bcf;
}

header {
    background-color: white;
    color: #636467;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

h2 {
    font-size: 1.8em;
    color: #636467;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 0px;
    background-color: #636467;
    color: white;
}

a {
    color: #636467;
    text-decoration: none;
}

.under-header {
    padding: 5px;
    margin-left: 200px;
    margin-right: 200px;
    color: white;
    border-radius: 5px;
    border-left: 10px solid #636467;
    border-right: 10px solid #636467;
    background-color: #119bcf;
}