* {
    padding: 0;
    margin: 0;
}

.tasks {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.input {
    width: 15rem;
    margin: auto;
}

.add-task {
    width: 15rem;
    margin: auto;
}

.list {
    padding: 4rem;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.task {
    background-color: gainsboro;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 5px;
    display: flex;
}

.completed-task {
    background-color: burlywood;
    color: aliceblue;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 5px;
    display: flex;
}

p {
    text-align: center;
    height: 3rem;
    width: 13rem;
}

button {
    width: 20px;
    height: 20px;
    margin: 0 2px;
}
