@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: #000000;
    color: white;
    font-size: 16px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrapper {
    width: 100%;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

header {
    padding: 50px 0;
}

header .logo {
    font-size: 29px;
    font-weight: 800;
}

header nav {
    float: right;
    width: 50%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: #fff;
}

header nav ul li.active::after{
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background: #FA9021;
    border-radius: 10px;
    position: relative;
    top: 10px;
    left: -15px;
}

header nav ul li:not(.active):not(.btn) a:hover {
    border-bottom: 5px solid #FA9021;
}

header nav ul li.btn a {
    background: #FA9021;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 500ms ease;
}

header nav ul li.btn a:hover {
    background: #b46715;
}

.background {
    position: absolute;
    width: 100%;
    top: 0;
}

.vertical-header {
    position: absolute;
    left: 0;
    top: 0;
    padding: 50px 75px;
}

.vertical-header nav li {
    list-style: none;
    padding-bottom: 50px;
}

.hero {
    padding-bottom: 100px;
}

.hero--info {
    width: 530px;
    padding-top: 70px;
    position: relative;
}

.hero--info h2 {
    color: #FA9021;
    font-size: 20px;
    font-weight: 600;
}

.hero--info h1 {
    font-size: 50px;
    font-weight: 600;
}

.hero--info p {
    font-weight: 500;
    line-height: 170%;
    margin: 30px 0;
}

.hero--info .btn {
    background: #FA9021;
    color: #fff;
    border-radius: 50px;
    padding: 15px 30px;
    border: 0;
    transition: all 500ms ease;
    font-size: 18px;
}

.hero--info .btn:hover {
    background: #b46715;
    transform: scale(1.1);
}

.hero img {
    position: absolute;
    top: 170px;
    right: 250px;
}

.background {
    z-index: -1;
}