* {
    --main-font-family: "Overpass", serif;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--main-font-family);
    font-family: monospace;
    font-size: 20px;
}

.calc-header {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 1rem 5rem;
    font-size: 1.5em;
    font-weight: 900;
    box-shadow: 0 0.1rem 0.2rem grey;
}

#logo {
    height: 10rem;
}

@media print {
    #calculator {
        display: none;
    }
}

#loan-form {
    border: solid gray;
    padding: 2.5rem;
    width: 30rem;
    margin: 3rem auto;
    border-radius: 0.5rem;
}

.folder {
    padding: 0.1rem;
    display: flex;
    justify-content: space-between;
}

#conclusion {
    border: solid gray;
    padding: 2.5rem;
    width: 30rem;
    margin: 3rem auto;
    border-radius: 0.5rem;
}

.conclusion-text {
    display: flex;
}

.conclusion-text p:first-child {
    width: 15rem;
}

.btn {
    width: 10rem;
    height: 3rem;
    font-family: var(--main-font-family);
    font-size: 1em;
    margin: 0.1rem;
    border-radius: 0.5rem;
}

.button-folder {
    display: flex;
    justify-content: center;
}

.loan-input {
    font-family: var(--main-font-family);   
    text-align: end;
    font-size: 1em;
    padding: 0.1em;
    border-radius: 0.2rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.loan-input-error {
    font-family: var(--main-font-family);   
    text-align: end;
    font-size: 1em;
    padding: 0.1em;
    border-radius: 0.2rem;
    border-color: red;
}

#range {
    font-family: var(--main-font-family);
    font-size: inherit;
}

#currency {
    font-family: var(--main-font-family);
    font-size: inherit;
    width: 3rem;
}

table {
    font-size: 0.8em;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 2px;
    text-align: center;
}

hr {
    margin: 0.5rem;
}

.conclusion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#print-button {
    background-color: seagreen;
    height: 2rem;
    @media print {
        display: none;
    }
}

#print-button:active {
    background-color: green;
}