* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    width: auto;
    height: 100vh;
    color: azure;
    font-size: medium;
    background-color: black;
    background-image: url("images/fire.gif");
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 30% 25%;
}

#name {
    user-select: none;
    text-shadow: 0.06em 0.03em orange;
    font-size: 4em;
    text-align: center;
    padding: 0.3em;
}
  
.container {
    padding: 0 16em;
    justify-items: center;
}

.pages ul {
    padding: 2em;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 4em;
}

.pages ul li {
    user-select: none;
    background-color: black;
    text-decoration: none;
    border-radius: 25px;
    border: 3px solid orange;
    padding: 0.1em 0.7em;
    color: orange;
    font-size: 3em;
    font-weight: 800;
}

.pages ul li:not(#page-number):active {
    transform: scale(0.95);
}

.pages ul li:not(#page-number):hover {
    cursor: pointer;
}

.pages ul li #page-number :hover {
    cursor: none;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr)); /* Автоматически подстраивается под экран */
    gap: 15px; /* Отступы между картинками */
    padding: 10px;
}

.image-grid img {
    user-select: none;
    width: 100%;
    height: minmax(100px, 200px);
    border-radius: 1em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.image-grid img:not(.fillerElement):hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#details {
    background: linear-gradient(0deg, black, chocolate);
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-width: 0.5em;
    border-bottom: 0px;
    border-color: bisque;
    border-style: groove;
    position: fixed;
    top: 10%;
    height: 90%;
    padding: 0 40px;
    margin: 0 auto;
    opacity: 0.95;
    scrollbar-color: chocolate bisque;
    scrollbar-width: thin;
}

#details:focus {
    outline: none;
}

#details div {
    display: flex;
    justify-content: center;
}

#close {
    user-select: none;
    margin: 5px;
    width: 40px;
    height: auto;
    text-align: center;
    border-radius: 5px;
    background-color: black;
    color: beige;
    font-size: 2rem;
    cursor: pointer;
}

#close:active {
    transform: scale(0.95);
}

#album-info {
    margin: 0% 5%;
    flex-direction: column;
    color: bisque;
}

.album-info-img {
    border-radius: 1em;
    width: 15em;
    height: 100%;
    border-style:double;
    border-width: 0.5em;
}

.album-info-header {
    padding: 2% 10%;
    display: flex;
    justify-content: center;
}

.album-release-date {
    padding: 2% 0;
    justify-items: center;
    font-style: italic;
}

.album-info-base {
    padding: 0 2%;
    
}

.album-info-base h1 {
    font-size: 2.5em;
    text-wrap-mode: nowrap;
}

.album-info-base hr {
    height: 2px;
    border: none;
    background: linear-gradient(90deg, beige, chocolate);
}

.album-info-base p {
    font-size: 1.1em;
    font-style: italic;
}

.name {
    text-align: center;
    font-size: larger;
}